resource "fortios_firewall_address" "{{ address.name | replace('-', '_') }}" {
  name    = "{{ address.name }}"
  {% if address.type == 'subnet' %}
  subnet  = "{{ address.value }}"
  {% elif address.type == 'fqdn' %}
  fqdn    = "{{ address.value }}"
  {% endif %}
  comment = "{{ address.description }}"
}
